<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create a Vehicle</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <%- include("../navbar") %>

    <form action="/vehicle/new" method="POST">
        <div class="form-row">
            <label for="year">Year:</label>
            <input type="number" id="year" name="year" 
                min="0" required>
        </div>
        <div class="form-row">
            <label for="color">Color:</label>
            <input type="text" id="color" name="color" maxlength="20"
                required>
        </div>
        <div class="form-row">
            <label for="price">Price:</label>
            <input type="number" id="price" name="price" 
                step=".01" min="0" required>
        </div>
        <div class="form-row">
            <label for="make">Make:</label>
            <select name="make" id="make" required>
                <option value="" disabled selected hidden>Choose a Make</option>
                <% for(const make of allMakes) { %>
                    <option value="<%- make.id %>"><%= make.make_name %></option>
                <% } %>
            </select>
        </div>
        <div class="form-row">
            <label for="model">Model:</label>
            <select name="model" id="model" required disabled>
                <option value="" disabled selected hidden>Choose a Model</option>
            </select>
        </div>
        <button>Add Vehicle</button>
    </form>
</body>
<script>
    const modelTypeCombos = <%- JSON.stringify(allModelTypeCombos) %>;
    document.getElementById("make").addEventListener("change", (event) => {
        const makeId = event.target.value;

        const modelInput = document.getElementById("model");
        modelInput.disabled = false;
        modelInput.innerHTML = "<option value='' disabled selected hidden>Choose a Model</option>"


        for(const model of modelTypeCombos) {
            if(model.make_id == makeId) {
                const newOption = document.createElement("option")
                newOption.value = model.model_id;
                newOption.innerText = model.model_name
                modelInput.append(newOption)
            }
        }
    });
</script>
</html>