<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vehicle Inventory</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <%- include("navbar") %>
    
    <h1>Makes</h1>
    <% if(makes.length === 0) { %>
        <p>No makes in inventory.</p>
    <% } else { %>
        <table>
            <thead>
                <tr>
                    <th>Make</th>
                    <th>Vehicle Count</th>
                </tr>
            </thead>
            <tbody>
                <% for(const make of makes) { %>
                    <tr class="clickable" onclick="window.location = '/make/<%= make.id %>'">
                        <td><%= make.make_name %></td>
                        <td><%= make.vehicle_count %></td>
                    </tr>
                <% } %>
            </tbody>
        </table>
    <% } %>
</body>
</html>