<nav>
    <ul class="nav-list">
        <li><a href="/">Home Page</a></li>
    </ul>
    <% if(locals.user) { %>
        <ul class="nav-list">
            <% if(!user.member) { %>
                <li><a href="/user/join-club">Join Club</a></li>
            <% } %>
            <li><a href="/message/create-message">Create Message</a></li>
            <li><a href="/user/sign-out">Log out</a></li>
        </ul>
    <% } else { %>
        <ul class="nav-list">
            <li><a href="/user/sign-in">Sign In</a></li>
            <li><a href="/user/sign-up">Sign Up</a></li>
        </ul>
    <% } %>
</nav>
